.langarts__topics{
    display: flex;
    flex-direction: column;
    border-top: solid 2px grey;
}

.gradient__bg {
    background:linear-gradient(90deg, rgb(26, 0, 99) 1%, rgb(83, 21, 3) 100%);
    position:static;
}

.langarts__topics-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.langarts__topics-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    max-width: 510px;
    color: var(--gradient-text);
}

.langarts__topics-heading p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    max-width: 510px;
    color: var(--color-subtext);
    cursor: pointer;
}

.langarts__topics-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding-left: 30px; 
    padding-right: 30px; 
}

.langarts__topics-content-scroll {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.langarts__topics-content-scroll > .langarts__topics-content-scroll-items {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

.langarts__topics-content-scroll > .langarts__topics-content-scroll-items > *:not(.scroll-button) {
    flex: 0 0 auto;
    width: 130px; 
    height: 130px; 
    background-color: rgb(218, 224, 231); 
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .langarts__topics-content-scroll > .langarts__topics-content-scroll-items > *:not(.scroll-button) h2 {
    font-size: 20px; 
    text-align: center;
  }

.langarts__topics-content-scroll-left,
.langarts__topics-content-scroll-right {
    display:flex;
    justify-content: center;
    align-items: center;
}

.scroll-button {
    z-index: 2;
    width: 20px;
    height: 100px;
    cursor: pointer;
}