.langarts__topics{
    display: flex;
    flex-direction: column;
}

.gradient__bg {
    background:-moz-linear-gradient(90deg, rgba(255, 255, 170, 1) 1%, rgba(255, 179, 156, 1) 100%); 
    background:-webkit-linear-gradient(90deg, rgba(255, 255, 170, 1) 1%, rgba(255, 179, 156, 1) 100%);
    background:-o-linear-gradient(90deg, rgba(255, 255, 170, 1) 1%, rgba(255, 179, 156, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFB39C', endColorstr='#FFFFAA', GradientType=0 );
    background:-ms-linear-gradient(90deg, rgba(255, 255, 170, 1) 1%, rgba(255, 179, 156, 1) 100%);
    background:linear-gradient(90deg, rgba(255, 255, 170, 1) 1%, rgba(255, 179, 156, 1) 100%);
    position:static;
}

.langarts__topics-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 2rem;
}

.langarts__topics-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    max-width: 510px;
    color: var(--gradient-text);
}

.langarts__topics-heading p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    max-width: 510px;
    color: var(--color-subtext);
    cursor: pointer;
}

.langarts__topics-content {
    display: wrap;
    justify-content: space-between; 
    padding-left: 30px; 
    padding-right: 30px; 
}

.langarts__topics-content-scroll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.langarts__topics-content-scroll > *:not(.scroll-button) {
    flex: 0 0 auto;
    width: 100px; 
    height: 100px; 
    background-color: #abc; 
    margin-right: 10px;
  }

.scroll-button {
    width: 20px;
    height: 90px;
    cursor: pointer;
}