.langarts__topics{
    display: flex;
    flex-direction: column;
    border-top: solid 2px grey;
}



.langarts__topics-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.langarts__topics-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    max-width: 510px;
    color: var(--gradient-text);
}

.langarts__topics-heading p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    max-width: 510px;
    color: var(--color-subtext);
    cursor: pointer;
}

.langarts__topics-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 30px; 
    padding-right: 30px; 
}

.langarts__topics-content-scroll {
    display: flex;
    flex-direction: row;
    
    margin-top: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    align-items: center;
    flex-grow: 1;
    min-width: 0;
    max-width: 800px;
}

.langarts__topics-content-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
.langarts__topics-content-scroll > .langarts__topics-content-scroll-items {
    display: flex;
    transition: transform 0.3s ease-in-out;
    
  }

.langarts__topics-content-scroll > .langarts__topics-content-scroll-items > *:not(.scroll-button) {
    flex: 0 0 auto;
    width: 130px; 
    height: 130px; 
    background-color: rgb(218, 224, 231); 
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    width: 140px;
    height: 140px;
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
   rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
     rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
       rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
         rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .langarts__topics-content-scroll > .langarts__topics-content-scroll-items > *:not(.scroll-button):hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 5px rgba(3, 3, 3, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .langarts__topics-content-scroll > .langarts__topics-content-scroll-items > *:not(.scroll-button) h2 {
    font-size: 20px; 
    text-align: center;
  }

.langarts__topics-content-scroll-left,
.langarts__topics-content-scroll-right {
    display:flex;
    margin-top: 1rem;
    align-items: center;

}

.langarts__topics-content-scroll-left {
    margin-left: 30px;
    margin-right: 10px;
  }

  .langarts__topics-content-scroll-right {
    margin-right: 30px;
    margin-left: 10px;
  }

.scroll-button {
    z-index: 2;
    width: 20px;
    height: 100px;
    cursor: pointer;
}


