.langarts__vocabulary-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
  }
  
  .langarts__vocabulary {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #fff;
    z-index: 10000;
  }
  
  .langarts__vocabulary-open {
    overflow: hidden;
  }
  
  .langarts__vocabulary-open .modal-overlay {
    overflow: auto;
  }
  
  .langarts__vocabulary-open body {
    filter: brightness(0.5);
  }

  .langarts__vocabulary__header {
    display: flex;
    justify-content: space-between;

  }

  .langarts__vocabulary__header-close {
    display: flex;
    justify-content: flex-end;
  }

  .langarts__vocabulary__header-close svg {
    cursor: pointer;
}
