body {
  overflow: auto;
}

.langarts__vocabulary-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
  
.langarts__vocabulary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 90%;

  background-color: #fff;
  z-index: 10000;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
  
}
  
  .langarts__vocabulary-open {
    overflow: hidden;
  }

  
  .langarts__vocabulary-open .modal-overlay {
    overflow: auto;
  }
  
  .langarts__vocabulary-open body {
    filter: brightness(0.5);
  }

  .langarts__vocabulary__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left:10px;
    margin-right:10px;
    z-index: 1;
    background-color: #fff;
  }

  .langarts__vocabulary__header-title {
    display: flex;
    align-items: center;
 
  }

  .langarts__vocabulary__header h2 {
    font-size: 30px;
    font-weight: 600;
    color: #444;
    margin: 0;
  }

  .langarts__vocabulary__header-add {
    margin-left: auto; 
    display: flex;
    align-items: center;
  }

  .langarts__vocabulary__header-add svg {
    vertical-align: middle;
  }

  .langarts__vocabulary__header-add input[type="text"] {
    padding: 8px;
    margin-left: 10px;
    border: solid black 2px;
    border-radius: 5px;
    font-size: 16px;
  }

  .langarts__vocabulary__header-close {
    display: flex;
    justify-content: flex-end;
    
  }

  .langarts__vocabulary__header-close svg {
    cursor: pointer;
    width: 35px; 
    height: 35px;
}

.langarts__vocabulary__controls {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.langarts__vocabulary__search {
  position: relative;
 line-height: 28px;
 max-width: 190px;
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 15px;
}

.langarts__vocabulary__search input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}

.langarts__vocabulary__search input::placeholder {
  color: #9e9ea7;
  font-size: 16px;
 }

.langarts__vocabulary__search input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }

.langarts__vocabulary__search svg {
  flex-shrink: 0; /* Prevent shrinking */
  width: 30px; /* Set desired width */
  height: 30px; /* Set desired height */

}

.langarts__vocabulary__content {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  max-height: 76%;
  overflow-y: scroll;
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: center;
  background-color: #fff;
}

.langarts__vocabulary__content-table {
  display: grid;
  grid-column-gap: 10px;
  margin: auto;
}

.langarts__vocabulary__content-table ul {
  display: grid;
  grid-column-gap: 10px;
}

li {
  display: flex;
  justify-content:left;
  margin-left: 15px;
  width: fit-content; 
}

.langarts__vocabulary__content-LangSwitch{
  position: sticky;
  height: 50px;
  width: fit-content;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
padding-right: 6%;
}

.word, .matching-word  {
  display: flex;
  justify-content: left;
  font-size: 16px;
  color: #444;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.word input, .matching-word input {
  border: none;
  background-color: #f8f8f8;
  font-size: 16px;
  
}

.matching-word {
  margin-left: 20px;
}

.deleteLine {
  margin-left: 20px;
  cursor: pointer;
  color: #444;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.langarts__vocabulary__content-menu {
  position: absolute;
  right:30px;
  margin-bottom: 20px;
}
.langarts__vocabulary__content-menu ul{
  position: absolute;
  right:30px;

    margin-top: 1rem;
    min-width: 20px;

}

.langarts__vocabulary__content-menu button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; 
  height: 60px; 
  padding: 0px;
  color: black;
  background: linear-gradient(90deg, rgba(58, 67, 148, 0.499) 0%, rgba(21, 21, 68, 0.499) 100%);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0px; 
  align-self: center;
}

.langarts__vocabulary__content-menu button.addToFavourite {
  margin-bottom: 10px;
}

.langarts__vocabulary__content-menu button.addToTopic {
  margin-bottom: 10px;
}

.langarts__vocabulary__content-menu button.randomWords {
  background: rgb(6, 100, 85) !important; 
  margin-bottom: 10px;
}

.langarts__vocabulary__content-menu button:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transform: translateZ(5px);
}

@media screen and (max-width: 1050px) {
  .langarts__vocabulary {
    position: fixed;
  left: 50%;
  width: 100%;
    height: 100%;
    border-radius: 0px;
}

.langarts__vocabulary__content {
  max-height: 74%;
}
}

@media screen and (max-width: 900px) {
  .langarts__vocabulary {
    position: fixed;
  left: 50%;
  width: 100%;
    height: 100%;
}

.langarts__vocabulary__content {
  max-height: 74%;
}
}

@media screen and (max-width: 800px) {
  .langarts__vocabulary {
    position: fixed;
  left: 43.5%;
  width: 86.9%;
    height: 100%;
}

.langarts__vocabulary__content {
  max-height: 63%;
}
}

@media screen and (max-width: 700px) {
  .langarts__vocabulary {
    position: fixed;
    left: 60%;
    width: 82%;
    height: 100%;
}

.langarts__vocabulary__header-close svg{
  width: 37px;
  height: 37px;
}

.langarts__vocabulary__content-menu svg {
  width: 35px;
  height: 35px;
}

.langarts__vocabulary__content {
  max-height: 50%;
}

.langarts__vocabulary__content-LangSwitch{
  padding-top: 15px;
padding-right: 9%;
}

.deleteLine svg {
  width: 30px;
  height: 30px;
}

.word input {
  font-size: 18px;
}

.matching-word input {
  font-size: 18px;
}
}
@media screen and (max-width: 550px) {
  .langarts__vocabulary {
    position: fixed;
  left: 33.3%;
  bottom: 60%;
  width: 67%;
    height: 100%;
}

.langarts__vocabulary__header {
  margin-left:10px;
  margin-right:10px;
}

.langarts__vocabulary__header-close svg{
  width: 37px;
  height: 37px;
}

.langarts__vocabulary__content-menu svg {
  width: 35px;
  height: 35px;
}

.langarts__vocabulary__content {
  max-height: 50%;
}

.langarts__vocabulary__content-menu{
  right: 10px;
}

.langarts__vocabulary__controls {
  margin-left:10px;
  margin-right:10px;
}

.langarts__vocabulary__search input[type="search"] {
  padding:10px;
  border: solid black 2px;
}

.langarts__vocabulary__content-LangSwitch{
  padding-top: 15px;
padding-right: 9%;
}

.langarts__vocabulary__content-table li {
  margin-left: 0px;
}

.word input {
  font-size: 18px;
}

.matching-word {
  margin-left: 2px;
}

.matching-word input {
  font-size: 18px;
}

.deleteLine {
  margin-left: 2px;
}

.deleteLine svg {
  width: 30px;
  height: 30px;
}
}