body {
  overflow: auto;
}

.langarts__vocabulary-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
  
.langarts__vocabulary {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #fff;
  z-index: 10000;
  font-family: 'Open Sans', sans-serif;
  
}
  
  .langarts__vocabulary-open {
    overflow: hidden;
  }

  
  .langarts__vocabulary-open .modal-overlay {
    overflow: auto;
  }
  
  .langarts__vocabulary-open body {
    filter: brightness(0.5);
  }

  .langarts__vocabulary__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .langarts__vocabulary__header h2 {
    font-size: 30px;
    font-weight: 600;
    color: #444;
    margin: 0;
  }

  .langarts__vocabulary__header-close {
    display: flex;
    justify-content: flex-end;
    
  }

  .langarts__vocabulary__header-close svg {
    cursor: pointer;

}

.langarts__vocabulary__content {
  padding-left: 50px;
  padding-right: 50px;
  max-height: 570px;
  overflow-y: scroll;
  
}

ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;

}

li {
  display: flex;
  justify-content:left;
  margin-left: 15px;
}

.word, .matching-word  {
  display: flex;
  justify-content: left;
  font-size: 16px;
  color: #444;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.word input, .matching-word input {
  border: none;
  background-color: #f8f8f8;
  font-size: 15px;
  
}

.matching-word {
  margin-left: 20px;
}

.deleteLine {
  margin-left: 20px;
  cursor: pointer;
  color: #444;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #f8f8f8;
}



