body {
  overflow: auto;
}

.langarts__memoryCards-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .langarts__memoryCards {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    height: 90%;
    
    background-color: #fff;
    z-index: 10000;
  }
  
  .langarts__memoryCards-open {
    overflow: hidden;
  }
  
  .langarts__memoryCards-open .modal-overlay {
    overflow: auto;
  }
  
  .langarts__memoryCards-open body {
    filter: brightness(0.5);
  }

  .langarts__memoryCards__header {
    display: flex;
    justify-content: flex-end;
  }
  
  .langarts__memoryCards__header-close {
    display: flex;
  }

  .langarts__memoryCards__header-close svg {
    cursor: pointer;
}

.langarts__memoryCards__countdown {
  font-size: 5rem;
  margin-bottom: 100px;
  justify-content: center;
}

.langarts__memoryCards__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  max-width: 700px;
  margin: 0 auto;
  
}

.langarts__memoryCards__afterCountdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
}

.langarts__memoryCards__afterCountdown_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.langarts__memoryCards__afterCountdown_header h2 {
  padding-left: 1rem;
  justify-content: flex-start;
  font-size: 30px;
  font-family: var(--font-family);
  color: grey;
  margin-bottom: 2rem;
}

.langarts__memoryCards__afterCountdown-header-buttons {
  display: flex;
  padding-right: 1rem;
}

.langarts__memoryCards__word {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 60px;
  width: 300px;
  font-size: clamp(24px, calc(2vw + 6px), 40px);
  font-family: var(--font-family);
}

.langarts__memoryCards__previousWord {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.langarts__memoryCards__nextWord {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.langarts__memoryCards__taskWord {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.langarts__memoryCards__Mic {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  width: 100%;
}
.langarts__memoryCards__Mic svg{
  border-radius: 90px;
  border: 4px solid grey;
}

.langarts__memoryCards__userPart {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-left:1.6rem;
  width: 100%;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  margin-bottom: 3rem;
}

.userInput{
  display: flex;
  justify-content: center;
}

.submitIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.correctIcon {
  position: fixed;
  z-index: 9;
}

.userInput input::placeholder {
  padding-left: 2px;
}

.langarts__memoryCards__count {
  padding-top: 6rem;
  font-family: var(--font-family);
}

@media screen and (max-width: 1050px) {
.langarts__memoryCards {
  width: 80%;
  height: 80%;
}

.langarts__memoryCards__content {
  display:flex;
  height: 70vh;
}

.langarts__memoryCards__afterCountdown_header {
  margin-bottom: 1.4rem;
}

.langarts__memoryCards__userPart {
  padding-left: 1.6rem;
}

.langarts__memoryCards__afterCountdown-header-buttons {
  padding-right: 2rem;
}

.langarts__memoryCards__count {
  padding-top: 3rem;
}
}

@media screen and (max-width: 900px) {
  .langarts__memoryCards__afterCountdown-header-buttons {
    padding-right: 3rem;
  }

  .langarts__memoryCards__afterCountdown_header {
    margin-bottom: 1rem;
  }

  .langarts__memoryCards__count {
    padding-top: 4rem;
  }

  .langarts__memoryCards__word {
    font-size: clamp(30px, calc(2vw + 6px), 40px);
  }  
}

@media screen and (max-width: 800px) {
  .langarts__memoryCards {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: 90%;
    
    background-color: #fff;
    z-index: 10000;
  }
}