.langarts__memoryCards-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
  }
  
  .langarts__memoryCards {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    
    background-color: #fff;
    z-index: 10000;
  }
  
  .langarts__memoryCards-open {
    overflow: hidden;
  }
  
  .langarts__memoryCards-open .modal-overlay {
    overflow: auto;
  }
  
  .langarts__memoryCards-open body {
    filter: brightness(0.5);
  }

  .langarts__memoryCards__header {
    display: flex;
    justify-content: space-between;

  }

  .langarts__memoryCards__header-close {
    display: flex;
    justify-content: flex-end;
  }

  .langarts__memoryCards__header-close svg {
    cursor: pointer;
}

.langarts__memoryCards__countdown {
  font-size: 5rem;
  margin-bottom: 100px;
  justify-content: center;
}

.langarts__memoryCards__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.langarts__memoryCards__word {
  display: flex;
  text-align: center;
  font-size: 40px;
}

.langarts__memoryCards__previousWord {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.langarts__memoryCards__nextWord {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.langarts__memoryCards__taskWord {
  display: flex;
  justify-content: center;
}

.langarts__memoryCards__Mic {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  cursor: pointer;
}

.langarts__memoryCards__userPart {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.userInput{
  display: flex;
  justify-content: center;
}

.submitIcon {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.correctIcon {
  position: fixed;
  z-index: 9;
}

.userInput input::placeholder {
  padding-left: 2px;
}