.langarts__features{
    display: flex;
    flex-direction: column;
    background:linear-gradient(to bottom, rgb(255, 255, 255) 0%,
                                           rgb(254, 254, 247) 20%,
                                             rgb(255, 254, 237) 60%,
                                               rgb(252, 246, 218) 80%);  
    padding: 0rem 6rem; 
    padding-bottom: 3rem;   
    padding-top: 2rem;  
}

.langarts__features-LangSwitch {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999; 
    background: linear-gradient(90deg, rgb(26, 0, 99) 1%, rgb(83, 21, 3) 100%);
    padding-top: 10px;
  }

.langarts__features-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem;
}

.langarts__features-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    max-width: 510px;
    color: var(--gradient-text);;
}



.langarts__cards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.langarts__card1 button:hover {
    cursor: pointer;
}

.langarts__card1 button {
    font-family: var(--font-family);
    font-size: 22px;
    background: var(--color-subtext);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    overflow: hidden;
    transition: all 0.2s;

    width: 300px;
    height: 80px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
   rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
     rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
       rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
         rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  .langarts__card1 button span {
    display: block;
    margin-left: 1.5em;
    transition: all 0.3s ease-in-out;
  }
  
  .langarts__card1 button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .langarts__card1 button:hover .svg-wrapper-first {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .langarts__card1 button:hover svg {
    transform: translateX(5.4em) rotate(45deg) scale(1.1);
  }
  
  .langarts__card1 button:hover span {
    transform: translateX(11em);
  }
  
  .langarts__card1 button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

  .langarts__card2 {
    margin-top: 45px;
  }

  .langarts__card2 button:hover {
    cursor: pointer;
}

.langarts__card2 button {
    font-family: var(--font-family);
    font-size: 22px;
    background: var(--color-subtext);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    overflow: hidden;
    transition: all 0.2s;

    width: 300px;
    height: 80px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
   rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
     rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
       rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
         rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  .langarts__card2 button span {
    display: block;
    margin-left: 1.5em;
    transition: all 0.3s ease-in-out;
  }
  
  .langarts__card2 button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .langarts__card2 button:hover .svg-wrapper-second {
    animation: fly-2 0.6s ease-in-out infinite alternate;
  }
  
  .langarts__card2 button:hover svg {
    transform: translateX(5.4em) rotate(45deg) scale(1.1);
  }
  
  .langarts__card2 button:hover span {
    transform: translateX(11em);
  }
  
  .langarts__card2 button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-2 {
    from {
      transform: translateY(0.1em);
    }
    to {
      transform: translateY(-0.1em);
    }
  }

  .gears:first-child{
    margin-right: 3%;
  }

  .gears-container{
      width:80px; 
      height: 75px;
      font-size:23px;

      position: relative; 

  }

  .gear-rotate{
	width: 2em;
	height: 2em;
    top: 50%; 
    left: 50%; 
    margin-top: -1em;
    margin-left: -1em;
	background: #7b756f;
	position: absolute;
	border-radius: 1em;
    /* gear icon rotation speed */
	-webkit-animation: 3s gear-rotate linear infinite;
	-moz-animation: 3s gear-rotate linear infinite;
	animation: 3s gear-rotate linear infinite;
}

.gear-rotate::before{
	width: 2.8em;
	height: 2.8em;
	background: 
    -webkit-linear-gradient(0deg,transparent 39%,#7b756f 39%,#7b756f 61%, transparent 61%),
    -webkit-linear-gradient(60deg,transparent 42%,#7b756f 42%,#7b756f 58%, transparent 58%),
    -webkit-linear-gradient(120deg,transparent 42%,#7b756f 42%,#7b756f 58%, transparent 58%);
	background: 
    -moz-linear-gradient(0deg,transparent 39%,#7b756f 39%,#7b756f 61%, transparent 61%),
    -moz-linear-gradient(60deg,transparent 42%,#7b756f 42%,#7b756f 58%, transparent 58%),
    -moz-linear-gradient(120deg,transparent 42%,#7b756f 42%,#7b756f 58%, transparent 58%);
	background: 
    -o-linear-gradient(0deg,transparent 39%,#7b756f 39%,#7b756f 61%, transparent 61%),
    -o-linear-gradient(60deg,transparent 42%,#7b756f 42%,#7b756f 58%, transparent 58%),
    -o-linear-gradient(120deg,transparent 42%,#7b756f 42%,#7b756f 58%, transparent 58%);
	background: -ms-linear-gradient(0deg,transparent 39%,#7b756f 39%,#7b756f 61%, transparent 61%),-ms-linear-gradient(60deg,transparent 42%,#7b756f 42%,#7b756f 58%, transparent 58%),-ms-linear-gradient(120deg,transparent 42%,#7b756f 42%,#7b756f 58%, transparent 58%);
	background: 
      linear-gradient(0deg,transparent 39%,#7b756f 39%,#7b756f 61%, transparent 61%),
    linear-gradient(60deg,transparent 42%,#7b756f 42%,#7b756f 58%, transparent 58%),
    linear-gradient(120deg,transparent 42%,#7b756f 42%,#7b756f 58%, transparent 58%);
	position: absolute;
	content:"";
	top: -.4em;
	left: -.4em;
	border-radius:1.4em;
    cursor: pointer;
}

.gear-rotate::after {
	width: 1em;
	height: 1em;
    /* this is the small circle inside the gear */
	background: #ffffff;
	position: absolute;
	content:"";
	top: .5em;
	left: .5em;
	border-radius: .5em;
    cursor: pointer;
}

@keyframes gear-rotate {
    0% { 
      -webkit-transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(-180deg); 
    }
  }

  @keyframes gear-rotate {
    0% { 
      transform: rotate(0deg); 
    }
    100% { 
      transform: rotate(-180deg); 
    }
  }


@media screen and (max-width: 1050px) {
    .langarts__features-heading h1  {
      font-size: 32px
    }

    .gears-container {
      width: 65px;
    height: 60px;
    font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
  .gears-container {
    width: 75px;
  }
}

@media screen and (max-width: 800px) {
  .gears-container {
    width: 30px;
  }
}

@media screen and (max-width: 700px) {
    .langarts__cards_container  {
        margin: 1rem 0 1rem;   
    }

    .langarts__card1 button {
        line-height: 60px;
        min-width: 400px;
        max-width: 500px;
        margin: 1rem 0 1rem;
    }
}

@media screen and (max-width: 550px) {
    .langarts__cards_container  {
        margin: 1rem 0 1rem; 
    }

    .langarts__card1 button {
        line-height: 55px;
        min-width: 300px;
        max-width: 400px;
        margin: 1rem 0 1rem;
    }
}
