.langarts__features{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background:linear-gradient(90deg, rgb(244, 244, 244) 1%, rgb(255, 255, 255) 100%);       
}

.langarts__features-LangSwitch {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999; 
    background: linear-gradient(90deg, rgb(26, 0, 99) 1%, rgb(83, 21, 3) 100%);
    padding-top: 10px;
  }

.langarts__features-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 2rem;
}

.langarts__features-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    max-width: 510px;
    color: var(--gradient-text);;
}

.langarts__features-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    max-width: 510px;
    color: var(--color-subtext);
    cursor: pointer;
}

.langarts__cards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.langarts__card1 button:hover {
    cursor: pointer;
}

.langarts__card1 button {
    font-family: var(--font-family);
    font-size: 22px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  
  .langarts__card1 button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .langarts__card1 button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .langarts__card1 button:hover .svg-wrapper-first {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .langarts__card1 button:hover svg {
    transform: translateX(3.5em) rotate(45deg) scale(1.1);
  }
  
  .langarts__card1 button:hover span {
    transform: translateX(8em);
  }
  
  .langarts__card1 button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

  .langarts__card2 {
    margin-top: 35px;
  }

  .langarts__card2 button:hover {
    cursor: pointer;
}

.langarts__card2 button {
    font-family: var(--font-family);
    font-size: 22px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  
  .langarts__card2 button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .langarts__card2 button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .langarts__card2 button:hover .svg-wrapper-second {
    animation: fly-2 0.6s ease-in-out infinite alternate;
  }
  
  .langarts__card2 button:hover svg {
    transform: translateX(2.8em) rotate(45deg) scale(1.1);
  }
  
  .langarts__card2 button:hover span {
    transform: translateX(7em);
  }
  
  .langarts__card2 button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-2 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

@media screen and (max-width: 1950px) {
    .langarts__cards_container  {
        margin: 2rem 0 2rem;    
    }

}

@media screen and (max-width: 700px) {
    .langarts__cards_container  {
        margin: 1rem 0 1rem;   
    }

    .langarts__card1 button {
        line-height: 60px;
        min-width: 400px;
        max-width: 500px;
        margin: 1rem 0 1rem;
    }
}

@media screen and (max-width: 550px) {
    .langarts__cards_container  {
        margin: 1rem 0 1rem; 
    }

    .langarts__card1 button {
        line-height: 55px;
        min-width: 300px;
        max-width: 400px;
        margin: 1rem 0 1rem;
    }
}