.langarts__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.langarts__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.langarts__navbar-links_logo {
    margin-right: 2rem;
}

.langarts__navbar-links_logo img {
    width: 60px;
    height: 40px;    
}

.langarts__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.langarts__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.langarts__navbar-links_container p,
.langarts__navbar-sign p,
.langarts__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

.langarts__navbar-sign button,
.langarts__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #000000;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.langarts__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.langarts__navbar-menu svg {
    cursor: pointer;
}

.langarts__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.langarts__navbar-menu_container p {
    margin: 1rem 0;
}

.langarts__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .langarts__navbar-links_container {
        display: none;
    }

    .langarts__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .langarts__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .langarts__navbar {
        padding: 2rem;
    }

    .langarts__navbar-sign {
        display: none;
    }

    .langarts__navbar-menu_container {
        top: 20px;
    }

    .langarts__navbar-menu_container-links-sign {
        display: block;
    }
}