.langarts__wordsModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
  }
  
  .langarts__wordsModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #fff;
    z-index: 10000;
  }
  
  .langarts__wordsModal-open {
    overflow: hidden;
  }
  
  .langarts__wordsModal-open .modal-overlay {
    overflow: auto;
  }
  
  .langarts__wordsModal-open body {
    filter: brightness(0.5);
  }

  .langarts__wordsModal__header {
    display: flex;
    justify-content: space-between;

  }

  .langarts__wordsModal__header-close {
    display: flex;
    justify-content: flex-end;
  }

  .langarts__wordsModal__header-close svg {
    cursor: pointer;
}

.langarts__wordsModal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.langarts__wordsModal__countdown {
  font-size: 5rem;
  margin-bottom: 100px;
}