* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    scroll-behavior: smooth
    
}

body{
    background: var(--color-bg);
}

.App{
    display: flex;
    flex-direction: column;
}

a {
    color:unset;
    text-decoration:none;
}

.bg__pic {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.2) 100%), url('./assets/sopot_molo.jpg');
    background-position: top 50% center;
    background-size: cover;
    transition: background-image 0.5s ease-out;
  }

  .bg__pic.slide-left {
    background-image: url('./assets/new-picture.jpeg');
    background-position: top 50% left;
  }
  
  .bg__pic.slide-out {
    animation: slideOutAnimation 0.5s ease-out;
  }
  
  .mirrorBG {
  position: relative;
}

.mirrorBG__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top 80% center;
  background-size: 100% auto;
  transform: rotateX(180deg);
  z-index: -1;
  background-image: linear-gradient(to top, 
  rgba(255, 255, 255, 0.2) 0%,
   rgba(255, 255, 255, 0.4) 20%,
    rgba(204, 204, 204, 0.6) 50%,
     rgba(255, 255, 255, 1) 80%), url('./assets/sopot_molo.jpg');                                              
}

.mirrorBG__background.slide-left {
  background-position: center top left;
  animation: slideLeftAnimation 0.5s ease-out;
  background-image: linear-gradient(to top,
   rgba(75, 75, 75, 0.2) 0%,
    rgba(155, 155, 155, 0.4) 20%,
     rgba(255, 255, 255, 0.6) 50%,
      rgb(255, 255, 255) 80%), url('./assets/new-picture.jpeg');
}

.mirrorBG__background.slide-out {
  animation: slideOutAnimation 0.5s ease-out;
}

  @keyframes slideLeftAnimation {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  .bg__pic.reset-animation {
    animation: resetAnimation 0.5s ease-out;
  }
  
  .mirrorBG__background.reset-animation {
    animation: resetAnimation 0.5s ease-out;
  }
  
  @keyframes resetAnimation {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }
 @keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }

@media screen and (max-width:700px){
    .section__padding {
        padding: 4rem;
    }
    .section__margin {
        margin: 4rem;
    }

    .mirrorBG__background {
       background-position: top 100% center;
    }
    
}
  
@media screen and (max-width: 550px){
    .section__padding {
        padding: 4rem 2rem;
    }
    .section__margin {
        margin: 4rem 2rem;
    }
}
