.langarts__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-size: cover;
}

.langarts__header-content {
  max-width: 960px;
  text-align: center;
  color: var(--color-text);
}

.langarts__header-content h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1.2;
  background: linear-gradient(to right, #AE67FA, #F49867);
  background-clip:padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.langarts__header-content p {
  font-size: 2rem;
  margin: 2rem 0;
}

.cta-button {
  background: var(--color-subtext);
  font-weight: bolder;
  font-family: var(--font-family);
  color: var(--color-bg);
  font-size: 1.5rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cta-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1050px) {
    .langarts__header-content {
        margin-right: 5rem;
    }

    .langarts__header-content p{
        margin-right: 5rem;
        
    }
}

@media screen and (max-width: 700px) {
    .langarts__header-content {
        margin-right: 3rem;
        margin-bottom: 1.5rem;
    }

    .langarts__header-content p{
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .langarts__header-content {
        margin-right: 1rem;
    }

    .langarts__header-content p{
        display: none;
    }
}