.langarts__header {
    display: flex;

}
.langarts__header-content {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.langarts__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.langarts__header-content p{
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    color:var(--color-text);

    margin-top: 1.5rem;
    margin-bottom: 3rem;
    margin-right: 18rem;

}