.langarts__header {
    display: flex;

}


.langarts__header-content {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

.langarts__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.langarts__header-content p{
    display: flex;
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    color:var(--color-text);

    margin-top: 1.5rem;
    
}

@media screen and (max-width: 1050px) {
    .langarts__header-content {
        margin-right: 5rem;
    }

    .langarts__header-content p{
        margin-right: 5rem;
        
    }
}

@media screen and (max-width: 700px) {
    .langarts__header-content {
        margin-right: 3rem;
        margin-bottom: 1.5rem;
    }

    .langarts__header-content p{
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .langarts__header-content {
        margin-right: 1rem;
    }

    .langarts__header-content p{
        display: none;
    }
}