.langarts__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-size: cover;
}

.langarts__header-content {
  max-width: 960px;
  text-align: center;
  color: var(--color-text);
}

.langarts__header-text-container {
  background-color: rgba(195, 195, 195, 0.7);
  border-radius: 15px;
}

.langarts__header-content h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1.2;
  background: linear-gradient(to right, #AE67FA, #F49867);
  background-clip:padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.langarts__header-content p {
  font-size: 2rem;
  margin: 2rem 0;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.cta-button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #fefefe;
  z-index: 1;
  background: var(--color-subtext);
  position: relative;
  font-weight: 1000;
  font-size: 22px;
  font-family: var(--font-family);
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  margin-top: 1.5rem;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
   rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
     rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
       rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
         rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }
 
 .cta-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background: #fbfbfb;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
   rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
     rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
       rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
         rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }
 
 .cta-button:hover {
  color: #212121;
  cursor:pointer
 }
 
 .cta-button:hover::before {
  width: 100%;
 }

@media screen and (max-width: 1050px) {
    .langarts__header-content {
        margin-right: 3rem;
        margin-left: 3rem;
        
    }

    .langarts__header-text-container {
      padding-left: 20px;
      padding-right: 20px;
    }

    .langarts__header-content h1 {
      font-size: 70px;
    }

    .langarts__header-content p{
      font-size: 30px;  
      margin: 0rem 0rem;  
      margin-top: 2rem; 
      margin-bottom: 3rem;
    }
}

@media screen and (max-width: 900px) {
  .langarts__header-content {
    margin-right: 2rem;
    margin-left: 2rem;
}

.langarts__header-text-container {
  padding-left: 20px;
  padding-right: 20px;
}

  .langarts__header-content h1 {
  font-size: 55px;
}
.langarts__header-content p{
  font-size: 25px;
    
}
}

@media screen and (max-width: 800px) {
  .langarts__header-content {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.langarts__header-content h1 {
  font-size: 55px;
}

.langarts__header-content p{
  font-size: 23px;   
}

.cta-button {
  padding: 15px 25px;
}
}

@media screen and (max-width: 700px) {

    .section__padding {
      padding: 0rem 0rem;
    }

    .langarts__header-content {
        margin-bottom: 1.5rem;
    }

    .langarts__header  {
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start; /* Updated */
      height: 80vh;
      background-size: cover;
    }

    .langarts__header-content p{
        display: none;
    }

    .cta-button {
      padding: 15px 25px;
      margin-top: 5rem;
    }
}

@media screen and (max-width: 550px) {
    .langarts__header-content {
        margin-right: 1rem;
        margin-bottom: 8rem;
    }

    .langarts__header-text-container{
      margin-bottom: 5rem;
    }

    .langarts__header-content p{
        display: none;
    }
}