.langarts__header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-size: cover;
}

.langarts__header-content {
  max-width: 960px;
  text-align: center;
  color: var(--color-text);
}

.langarts__header-content h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1.2;
  background: linear-gradient(to right, #AE67FA, #F49867);
  background-clip:padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.langarts__header-content p {
  font-size: 2rem;
  margin: 2rem 0;
}

.cta-button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 22px;
  font-family: var(--font-family);
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .cta-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background: var(--color-subtext);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .cta-button:hover {
  color: #e8e8e8;
  cursor:pointer
 }
 
 .cta-button:hover::before {
  width: 100%;
 }

@media screen and (max-width: 1050px) {
    .langarts__header-content {
        margin-right: 5rem;
    }

    .langarts__header-content p{
        margin-right: 5rem;
        
    }
}

@media screen and (max-width: 700px) {
    .langarts__header-content {
        margin-right: 3rem;
        margin-bottom: 1.5rem;
    }

    .langarts__header-content p{
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .langarts__header-content {
        margin-right: 1rem;
    }

    .langarts__header-content p{
        display: none;
    }
}