.city-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(252, 246, 218) 50%,
                                            rgb(220, 162, 120) 90%);
  }
  
  .city-footer img {
    max-width: 100%;
    height: auto;
    padding-bottom: 60px;
    transition: max-width 0.5s ease;
  }

  @media screen and (max-width: 800px) {
    .city-footer img {
      max-width: 130%;
      padding-bottom: 60px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .city-footer img {
      max-width: 150%;
      padding-bottom: 60px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .city-footer img {
      max-width: 200%;
      padding-bottom: 60px;
    }
  }